%p= "Hello, #{@user.full_name}!"

%p You have requested to reset your password. Please follow this link to perform the reset:

%a{href: password_reset_url(@user.token)}
  = password_reset_url(@user.token)

%p And have a nice day.

